<configuration>

  <system.webServer>

    <handlers>
      <add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />
    </handlers>

      <rewrite>
      <rules>
        <clear />
        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="server\.js.+" negate="true" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

        <tracing>
            <traceFailedRequests>
                <remove path="*"/>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="100-999" />
                </add>
            </traceFailedRequests>
        </tracing>

        <iisnode devErrorsEnabled="true" loggingEnabled="true" debuggingEnabled="true" />
        <webSocket enabled="false" />
  </system.webServer>

  <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>